Repository jeertmans/DiffeRT2d, pull requests merged in 2024-06, with the labels that each got.

#69 chore(paper): address comments from @idoby
  papers/joss/paper.bib
  papers/joss/paper.md
Labels: joss

#68 fix(docs): broken links and add check
  .github/workflows/test.yml
  .mdlc.json
  CHANGELOG.md
  README.md
  pyproject.toml
Labels: documentation, joss

#72 fix(docs): typos and phrasing in `docs/source/jax_and_jaxtyping.md`
  docs/source/jax_and_jaxtyping.md
Labels: documentation, joss

#70 feat(lib): add basic vertex diffraction
  CHANGELOG.md
  differt2d/geometry.py
  differt2d/logic.py
  differt2d/scene.py
  examples/plot_power_optimize.py
  examples/plot_vertex_diffraction_power_map.py
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  tests/test_geometry.py
  tests/test_scene.py
Labels: enhancement

#77 chore(paper): permanent links and README intro
  CHANGELOG.md
  README.md
  docs/source/index.md
  papers/joss/paper.md
Labels: documentation, joss

#78 chore(paper): JOSS changes in paper and bib
  papers/joss/paper.bib
  papers/joss/paper.md
Labels: joss

#79 fix(paper) bug in paper.md
  papers/joss/paper.md
Labels: bug, joss
